packages
.vs
*.ilk
*.idb
*.pdb
ScapeGameEngine/x64
/ScapeGameEngine/Debug/SGELib.tlog
*.tlog/*
*.tlog
*.log
/ScapeGameEngine/Debug/Renderer.obj
/ScapeGameEngine/Debug/Object.obj
/ScapeGameEngine/Debug
*.exe
*.lib